LLM_SERVICE_API_KEY=${SAM_LLM_SERVICE_API_KEY}
LLM_SERVICE_ENDPOINT=${SAM_LLM_SERVICE_ENDPOINT}
LLM_SERVICE_PLANNING_MODEL_NAME=${SAM_LLM_SERVICE_PLANNING_MODEL_NAME}
LLM_SERVICE_GENERAL_MODEL_NAME=${SAM_LLM_SERVICE_GENERAL_MODEL_NAME}
NAMESPACE=${SAM_NAMESPACE}
SOLACE_DEV_MODE=${SAM_DEV_MODE}
SOLACE_BROKER_URL=${SAM_BROKER_PROTOCOL}://${BROKER_NAME}:${SAM_BROKER_PORT}
SOLACE_BROKER_VPN=${SAM_BROKER_VPN}
SOLACE_BROKER_USERNAME=${SAM_BROKER_USERNAME}
SOLACE_BROKER_PASSWORD=${SAM_SBROKER_PASSWORD}
